a {
    color: inherit;
    text-decoration: none;
}

.mdui-card-content p {
    margin: 3px;
}

footer {
    background-color: #424242;
    color: #9e9e9e;
}

@media (min-width: 1024px)
footer {
    padding: 32px 0;
}

@media (min-width: 600px)
footer {
    padding: 24px 0;
}

footer .mdui-container{
    padding-top: 24px;
    padding-bottom: 24px;
    font-family: Roboto Mono,Roboto,Noto,Helvetica,Arial,sans-serif;
    line-height: 1.6;
}
