* {
    margin:0px;
    padding: 0px;
    list-style: none;
}

a {
    text-decoration-line: none;
    color: #333;
    background-color: transparent
}
a:active,a:hover {
    outline: 0
}
body {
    background: #F2F2F2;
    color: #333;
}
img {
    border: 0;
}

body, h1, h2, h3, h4, h5, h6 {
    font-family: "Droid Serif",Helvetica,Arial,"PingFang SC","Hiragino Sans GB","Noto Sans",Roboto,"Microsoft Yahei",sans-serif;
    font-weight: 400;
}

/* 头部开始 */

.nav{
    height: 76px;
    overflow: hidden;
}

.head {
    width: 100%;
    height: 76px;
    background-color: #14b9c8
}
.head .con {
    width: 1200px;
    height: 76px;
    margin: 0 auto;
}
.head .con .navbar-brand a {
    display: inline-block;
    width: 180px;
    height: 43px;
    color: #ffffff;
    line-height: 43px;
    margin-top: 18px;
    margin-left: 2px;
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 3px;
}
.head .con .navbar-left {
    margin-left: 140px;
}
.head .con .navbar-left li {
    width: 90px;
    height: 79px;
    display: inline-block;
    position: relative;
    top: -64px;
    left: 151px;
    float: left;
    text-align: center;
    line-height: 79px;
}
.head .con .navbar-left li a {
    text-decoration: none;
    color: #fff;
    width: 90px;
    height: 78px;
    display: inline-block;
}
.navbar-left .head-nav-active{
    background-color: #12A7B4;
}
.head .con .navbar-left li:hover{
    background-color: #34c3d2;
}

/* 头部结束 */

#content {
    width: 1200px;
    min-height: 500px;
    margin: 20px auto 0px;
    overflow: hidden;
}

#content_left {
    width: 850px;
    float: left;
}

/* 底部开始 */
.pagination-container{
    text-align: center;
}

.footer {
    height: 80px;
    width: 100%;
    background-color: #666666;
    padding-top: 30px;
    margin-top: 40px;
}

.footer-container{
    width: 1200px;
    margin: auto;
}

.footer span {
    color: #999999;
}

.footer a {
    color: #999999;
}

/* 底部结束 */

/* 右侧部分 */

#content_right {
    width: 325px;
    float: right;
}

.attent_us {
    height: 100px;
    padding: 10px;
    box-shadow: 0 2px 3px 0 rgba(0,0,0,.15);
    background: #fff;
}
.attent_us img {
    width: 100px;
    height: 100px;
    float: left;
}
.attent_us div {
    margin-left: 5px;
    float: left;
}
.attent_us .attent_us_title {
    display: block;
    width: 172px;
    height: 25px;
    color: #14b9c8;
    font-size: 22px;
    font-weight: 600;
}
.attent_us p {
    color: #999;
    font-size: 12px;
    margin: 12px 0;
}
.attent_us ul li {
    float: left;
    margin-right: 10px;
    position: relative;
    width: 30px;
    height: 30px;
}
.attent_us ul a {
    display: block;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    background: url(../img/contact_icon.png);
    color: transparent;
    background-size: 172px;
}
.attent_us ul li:first-child a {
    background-position: 0px -26px;
}
.attent_us ul li:nth-child(2) a {
    background-position: 0px -58px;
}
.attent_us ul li:nth-child(3) a {
    background-position: 0px -90px;
}
.attent_us ul li:nth-child(4) a {
    background-position: 0px -122px;
}
.attent_us ul li:nth-child(5) a {
    background-position: 0px -154px;
}
#leaderboard {
    width: 325px;
    margin-top: 20px;
}
h3.right_head {
    height: 30px;
    font-size: 24px;
    border-left: 4px solid #14B9C8;
    /* line-height: 30px; */
    text-indent: 5px;
    font-weight: normal;
    position: relative;
    margin-bottom: 10px;
    margin-top: 10px;
    color: #333333;
}
h3.right_head a {
    text-decoration: none;
    color: #14C4D9;
    font-size: 14px;
    position: absolute;
    bottom: 0px;
    right: 8px;
}
.leaderboard_content {
    width: 100%;
    background: #FAFAFA;
    margin-top: 10px;
    box-shadow: 0px 2px 3px 0px rgba(0,0,0,.15);
}
.select_content {
    box-shadow: 1px 0 2px 0 rgba(0,0,0,.1);
    background: #fff;
}
.select_content li {
    height: 55px;
    padding: 15px 10px;
    line-height: 55px;
}
.select_content li span.order {
    color: #FE937C;
}
.select_content li span {
    font-size: 15px;
    height: 50px;
    line-height: 50px;
    width: 20px;
    text-align: center;
    vertical-align: middle;
    display: block;
    float: left;
    color: #999;
}
.select_content li img {
    float: left;
    width: 60px;
    height: 60px;
    margin: 0 10px;
    border-radius: 10px;
}
.select_content li div {
    float: left;
    margin-left: 5px;
    font-size: 14px;
    height: 50px;
    color: #999;
}
.select_content li div a {
    text-decoration: none;
    color: #303133;
    font-weight: 600;
    font-size: 17px;
    display: block;
    height: 20px;
    margin-top: -13px;
    margin-bottom: 5px;
}
.select_content li div a:hover{
    color: #14b9c8;
}
.select_content li div i {
    display: inline-block;
    height: 14px;
    width: 14px;
    background: url(../img/black_star.png) no-repeat;
    background-size: 14px;
}
#hot_game_label .hot_game_content ul {
    width: 100%;
    height: 45px;
}
#hot_game_label .hot_game_content ul li {
    float: left;
    height: 45px;
    margin-right: 10px;
    font-size: 14px;
}
#hot_game_label .hot_game_content ul li a {
    display: block;
    padding: 0 10px;
    height: 30px;
    line-height: 30px;
    border: 1px solid #14B9C8;
    border-radius: 5px;
    color: #14B9C8;
    text-decoration: none;
    margin-top: 10px;
}
#popularize div {
    position: relative;
}
#popularize img {
    width: 325px;
    margin-top: 10px;
}
#popularize a {
    position: absolute;
    left: 20px;
    top: 125px;
    display: block;
    background: #fff;
    color: #23CBD4;
    text-align: center;
    border-radius: 3px;
    font-size: 15px;
    width: 100px;
    height: 30px;
    line-height: 30px;
    font-weight: bold;
    text-decoration: none;
}

/* 右侧部分结束 */

.breadcrumb{
    width: 100%;
    background: #ffffff;
    height: 32px;
    border-bottom: 1px solid #ddd;
}

.breadcrumb .breadcrumb-container{
    width: 1200px;
    margin: auto;
    height: 32px;
}

.breadcrumb .breadcrumb-container span{
    font-size: 14px;
    color: #666;
    line-height: 32px;
    margin-right: 5px;
}

.breadcrumb .breadcrumb-container span:hover{
    color: #14b9c8;
}

.links{
    margin-top: 5px;
    font-size: 13px;
}

.links a{
    font-size: 14px;
    margin-right: 4px;
}

.links a:hover{
    text-decoration: underline;
}

.pagination {
    padding-left: 0;
    list-style: none;
    border-radius: .25rem;
    margin: 0 0 35px;
    text-align: center;
    display: flex;
    justify-content: center;
}

.page-link {
    position: relative;
    display: block;
    padding: .5rem .75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #00ada7;
    background-color: #fff;
    border: 1px solid #dee2e6
}

.page-link:hover {
    z-index: 2;
    color: #00615d;
    text-decoration: none;
    background-color: #e9ecef;
    border-color: #dee2e6
}

.page-link:focus {
    z-index: 2;
    outline: 0;
    box-shadow: 0 0 0 .2rem rgba(0, 173, 167, .25)
}

.page-item:first-child .page-link {
    margin-left: 0;
    border-top-left-radius: .25rem;
    border-bottom-left-radius: .25rem
}

.page-item:last-child .page-link {
    border-top-right-radius: .25rem;
    border-bottom-right-radius: .25rem
}

.page-item.active .page-link {
    z-index: 1;
    color: #fff;
    background-color: #00ada7;
    border-color: #00ada7
}

.page-item.disabled .page-link {
    color: #6c757d;
    pointer-events: none;
    cursor: auto;
    background-color: #fff;
    border-color: #dee2e6
}

.pagination-lg .page-link {
    padding: .75rem 1.5rem;
    font-size: 1.125rem;
    line-height: 1.5
}

.pagination-lg .page-item:first-child .page-link {
    border-top-left-radius: .3rem;
    border-bottom-left-radius: .3rem
}

.pagination-lg .page-item:last-child .page-link {
    border-top-right-radius: .3rem;
    border-bottom-right-radius: .3rem
}

.pagination-sm .page-link {
    padding: .25rem .5rem;
    font-size: .7875rem;
    line-height: 1.5
}

.pagination-sm .page-item:first-child .page-link {
    border-top-left-radius: .2rem;
    border-bottom-left-radius: .2rem
}

.pagination-sm .page-item:last-child .page-link {
    border-top-right-radius: .2rem;
    border-bottom-right-radius: .2rem
}

.recommen{
    background: #ffffff;
    padding: 20px;
}

.recommen .recommen-header{
    margin-bottom: 10px;
    font-weight: 600;
    height: 18px;
}

.recommen .recommen-header h3{
    border-left: 3px solid #14b9c8;
    padding-left: 15px;
    height: 18px;
    line-height: 18px;
}

.recommen .recommen-content {
    color: #606266;
}

.recommen .recommen-content p{
    line-height: 28px;
}

.recommen .recommen-content a:hover{
    color: #14b9c8;
}
