/* slider开始 */


#outerslider {
    width:1200px;margin: 20px auto 10px;
}
#slidercontainer {position:relative; height:358px;}
.box_skitter.box_skitter_large .container_skitter{
    position: absolute;
}
.box_skitter_large {width:1200px; height:358px;top: 0;}
.box_skitter_large .label_skitter{
    bottom:0px;
    left:0px ;
    padding:0; background:url(../img/opacity-slider-text.png) repeat;
    font-size:12px;
    padding:10px 30px;
    color:#fff;
    font-family:Arial, Helvetica, sans-serif;
    width: 1200px;
}
.box_skitter_large img{
    width: 1200px;
    height: 358px;
}

/* slider结束 */

/* 主体部分 */

/* 左侧部分 */

.app-categories-simple {
    padding-bottom: 22px;
    overflow: hidden;
}

.section-title {
    margin: 0 0 15px;
    border-bottom: 1px solid #ddd;
}

.section-title>h3 {
    float: left;
    margin: 0 0 10px;
    padding: 0 0 0 8px;
    line-height: 20px;
    font-size: 18px;
    border-left: 4px solid #14B9C8;
}

.section-title>a {
    line-height: 20px;
    color: #14B9C8;
}

.pull-right {
    float: right!important;
}

.section-title::after {
    display: table;
}
.section-title::after, .taptap-button-opinion::after, .taptap-button-share::after, .taptap-tab-nav .nav>li>a::after, footer.footer .footer-left .footer-left-header::after {
    content: "";
    clear: both;
}

.taptap-app-list {
    margin: -8px -8px 0;
}

.taptap-app-list .taptap-app-item {
    float: left;
    display: block;
    margin: 6px;
    overflow: hidden;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 2px rgba(0,0,0,.05);
    width: 132px;
}

.taptap-app-list .taptap-app-item .app-item-image {
    display: block;
    margin: auto;
    margin-top: 14px;
    margin-bottom: 14px;
    width: 110px;
    height: 110px;
    border-radius: 20px;
}

.taptap-app-list .taptap-app-item .app-item-image>img {
    display: block!important;
    width: 100%;
    border-radius: 20px;
}

.taptap-app-list .taptap-app-item .app-item-caption {
    position: relative;
    text-align: center;
    overflow: hidden;
}

.taptap-app-list .taptap-app-item .app-item-caption .item-caption-title {
    display: block;
    margin: 0 0 10px;
    max-width: 100%;
    overflow: hidden;
}

.flex-text-overflow {
    display: inline-flex!important;
    white-space: nowrap;
}

.taptap-app-list .taptap-app-item .app-item-caption .item-caption-title>h4 {
    margin: 0;
    line-height: 20px;
    font-size: 16px;
    white-space: nowrap;
    font-weight: 600;
}

.taptap-app-list .taptap-app-item .app-item-caption .item-caption-title>h4:hover{
    color: #14b9c8;
}

.flex-text-overflow .flex-text {
    -webkit-box-flex: 1;
    flex: auto;
    overflow: hidden;
    text-overflow: ellipsis;
}

.taptap-app-list .taptap-app-item .app-item-caption .item-caption-label {
    display: block;
    line-height: 20px;
    font-size: 14px;
}

.taptap-app-list .taptap-app-item .app-item-caption .item-caption-label a {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    max-width: 80px;
    display: inline-block;
    color: #666;
}

.taptap-app-list .taptap-app-item .app-item-caption .item-caption-label .caption-label-rating {
    margin: 2px 0 0;
    line-height: 15px;
    text-align: right;
    color: #999;
}

.taptap-app-list .taptap-app-item .app-item-caption .item-caption-label .caption-label-rating>span {
    float: left;
    display: block;
}

.taptap-app-list .taptap-app-item .app-item-caption .item-caption-label .caption-label-rating>i {
    float: left;
    margin: 0 0 0 5px;
    display: block;
    width: 14px;
    height: 14px;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABwAAAAcCAQAAADYBBcfAAAA90lEQ…JG5JVSijwjYgShbYYDhAm1l1yNCULfDH1a2nwL/2d/3SuVL2Mp5zjvIgAAAABJRU5ErkJggg==) repeat-x;
    background-size: 14px;
}

.taptap-app-list .taptap-app-item .app-item-caption .item-caption-label .caption-label-rating::after, .taptap-app-list .taptap-app-item .app-item-caption .item-caption-label::after {
    display: table;
    content: "";
    clear: both;
}

/* 左侧部分结束 */

/* 主体部分结束 */
