.mui-slider-item img{
    height: 160px;
    width: 100%;
}

.mui-slider{
    margin-top: 10px;
    margin-bottom: 10px;
}

.app-categories-simple {
    overflow: hidden;
    background: #ffffff;
    padding: 10px 10px 0px 10px;
    margin-bottom: 8px;
}

.section-title {
    margin: 0 0 15px;
    border-bottom: 1px solid #ddd;
}

.section-title>h3 {
    float: left;
    margin: 0 0 10px;
    padding: 0 0 0 8px;
    line-height: 20px;
    font-size: 18px;
    border-left: 4px solid #14B9C8;
}

.section-title>a {
    line-height: 20px;
    color: #14B9C8;
}

.pull-right {
    float: right!important;
}


.section-title::after {
    display: table;
}
.section-title::after, .taptap-button-opinion::after, .taptap-button-share::after, .taptap-tab-nav .nav>li>a::after, footer.footer .footer-left .footer-left-header::after {
    content: "";
    clear: both;
}

.taptap-app-list {
    margin: -8px -8px 0;
    padding-right: 10px;
}

.taptap-app-list .taptap-app-item {
    float: left;
    display: block;
    overflow: hidden;
    background: #ffffff;
    width: 25%;
}

.taptap-app-list .taptap-app-item .app-item-image {
    display: block;
    margin: auto;
    width: 70px;
    height: 70px;
    border-radius: 20px;
}

.taptap-app-list .taptap-app-item .app-item-image>img {
    display: block!important;
    width: 100%;
    border-radius: 20px;
}

.taptap-app-list .taptap-app-item .app-item-caption {
    position: relative;
    text-align: center;
    overflow: hidden;
}

.taptap-app-list .taptap-app-item .app-item-caption .item-caption-title {
    display: block;
    margin: 0 0 10px;
    max-width: 100%;
    overflow: hidden;
    color: #333;
    text-align: center;
}

.flex-text-overflow {
    display: inline-flex!important;
    white-space: nowrap;
}

.taptap-app-list .taptap-app-item .app-item-caption .item-caption-title>h4 {
    margin: 0;
    line-height: 20px;
    font-size: 16px;
    margin-top: 4px;
}

.flex-text-overflow .flex-text {
    -webkit-box-flex: 1;
    flex: auto;
    overflow: hidden;
    text-overflow: ellipsis;
}

.taptap-app-list .taptap-app-item .app-item-caption .item-caption-label {
    display: block;
    line-height: 20px;
    font-size: 14px;
}

.taptap-app-list .taptap-app-item .app-item-caption .item-caption-label a {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    max-width: 80px;
    display: inline-block;
    color: #666;
}

.taptap-app-list .taptap-app-item .app-item-caption .item-caption-label .caption-label-rating {
    margin: 2px 0 0;
    line-height: 15px;
    text-align: right;
    color: #999;
}

.taptap-app-list .taptap-app-item .app-item-caption .item-caption-label .caption-label-rating>span {
    float: left;
    display: block;
}

.taptap-app-list .taptap-app-item .app-item-caption .item-caption-label .caption-label-rating>i {
    float: left;
    margin: 0 0 0 5px;
    display: block;
    width: 14px;
    height: 14px;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABwAAAAcCAQAAADYBBcfAAAA90lEQ…JG5JVSijwjYgShbYYDhAm1l1yNCULfDH1a2nwL/2d/3SuVL2Mp5zjvIgAAAABJRU5ErkJggg==) repeat-x;
    background-size: 14px;
}

.taptap-app-list .taptap-app-item .app-item-caption .item-caption-label .caption-label-rating::after, .taptap-app-list .taptap-app-item .app-item-caption .item-caption-label::after {
    display: table;
    content: "";
    clear: both;
}
